.customGrid{
    display:grid; 
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.clientImage{
    width:100px;
    height:100px; 
    border-radius: 50%;
}


.serviceGrid{
    display:grid; 
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}


@media only screen and (max-width: 425px) {
    #responsiveGrid{
        display:grid;
        grid-template-columns: repeat(12,1fr)
    }
  }
