#registration::after {
    content: " ";
    background: url('../../Image/Background/1971537.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#registraion{
    position: relative;
    z-index: 2;
}
